# Backend S3
S3_BUCKET_ARN=arn:aws:s3:::pdfme-235500188147-eu-west-1-an
AWS_REGION=eu-west-1
AWS_ACCESS_KEY_ID=replace_me
AWS_SECRET_ACCESS_KEY=replace_me

# Backend Cognito JWT verification
COGNITO_REGION=eu-west-1
COGNITO_USER_POOL_ID=eu-west-1_e3giVfjQy
COGNITO_CLIENT_ID=6lsst47elspoa8elmdbo8dear9
COGNITO_ADMIN_GROUP=pdfme-admins

# Frontend OIDC (Vite)
VITE_COGNITO_AUTHORITY=https://cognito-idp.eu-west-1.amazonaws.com/eu-west-1_e3giVfjQy
VITE_COGNITO_CLIENT_ID=6lsst47elspoa8elmdbo8dear9
VITE_COGNITO_REDIRECT_URIS=https://nexsite.fr,https://pdfme.nexsite.fr
VITE_COGNITO_LOGOUT_URIS=https://nexsite.fr,https://pdfme.nexsite.fr
VITE_COGNITO_DOMAIN=https://eu-west-1e3givfjqy.auth.eu-west-1.amazoncognito.com
VITE_COGNITO_ADMIN_GROUP=pdfme-admins
VITE_COGNITO_SCOPE=openid profile email
